*{
    font-family: Arial, sans-serif;
    text-align: center;
}

.line {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 1100px){
    .in {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        flex-wrap: wrap;
    }
}

:root {
    --roxo: #5B59D5;
    --cinza: #E6E8EC;
    --preta-40: rgba(0, 0, 0, 0.4); /* cor preta com 40% de opacidade */
    --verde: #34C759;
    --azul: #42DAC2;
    --gradiente-roxo: linear-gradient(to bottom, #5856D6, #92BFFF);
    --gradiente-azul: linear-gradient(to bottom, #42DAC2, #99FFEF);
    --gradiente-verde: linear-gradient(to bottom, #34C759, #8ECF9E);
}

body{
    background-color: #F5F5F6;
}

.title{
    font-size: 12px;
}
#bold-text{
    color: black;
    font-weight: 700;
}

h1{
    color: var(--preta-40);
}

.chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-text{
    background: var(--gradiente-roxo);
    color: white;
    border-radius: 15px;
    max-width: 500px;
    text-align: left;
    line-height: 1.6;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.loader {
    width: 300px;
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
  
.loader::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #3498db;
    animation: loading 5s infinite;
}

@keyframes loading {
    0% {
      left: -100%;
    }
    50% {
      left: 0;
    }
    100% {
      left: 100%;
    }
}
  
  
  